<footer class="footer px-5 py-4 fixed-bottom">
   
    <div  style="max-width: 970px; margin: 0 auto;">
        <h5>By submitting a file to VirusDetect, you give us permission to share the results of your submission
            with the cybersecurity community. <b>You consent to VirusDetect sharing any executables you submit
            with third-party malware exchange partners for the purpose of enhancing their anti-malware 
            products.</b> By submitting files, you agree to our Terms of Service and Privacy Policy. Please
            refrain from submitting any personal data to VirusDetect.</h5>
            <br>
            <br>
    </div>
    <div class="copyright mx-auto float-none text-center">
        &copy; <a target="_blank" href="https://bit.ly/3fKQZaL">Merve Bağışlar</a>  coded by VirusDetect.
    </div>
</footer>
