
    <div class="sidebar" data-color="blue">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    VD
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Virus Detect
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="/notifications.html">
                        <i class="tim-icons icon-zoom-split"></i>
                        <p>Threat Analysis</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'predict_email' %}">
                        <i class="tim-icons icon-email-85"></i>
                        <p>Email</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/user.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
